name: Build Windows ARM64 (Manual)

on:
  workflow_dispatch:
    inputs:
      description:
        description: 'Build description (optional)'
        required: false
        default: ''

permissions:
  # Read repo
  contents: read
  # Read/write artifacts
  actions: write

jobs:
  build:
    name: Build Windows ARM64
    uses: './.github/workflows/_bazel.yml'
    with:
      image: windows-2025-arm-16core
      os_name: Windows
      phase: '-release'
      extra_bazel_args: '--strip=always --config=release_windows_arm --config=ci-release --config=wpt-report'
      arch_name: ARM64
      upload_binary: true
      macos_use_lld: false
      # Run full WPT tests
      run_tests: true
      upload_test_logs: true
      test_target: //src/wpt/...
    secrets:
      BAZEL_CACHE_KEY: ${{ secrets.BAZEL_CACHE_KEY }}
      WORKERS_MIRROR_URL: ${{ secrets.WORKERS_MIRROR_URL }}
